@font-face {
 font-family: Mon Trappist; /* Имя шрифта */
 src: url("../fonts/Mon_Trappist_freefont/MonTrappist-Black.ttf"); /* Путь к файлу со шрифтом */

}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); /* Путь к файлу со шрифтом */
}
H1 {
  font-family: Mon Trappist;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 111.2%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: #262626;
}

.counterPlus
{
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.counterPlus:hover
{
  cursor: pointer;
  background-color: #360581;
}
.counterMinus
{
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.counterMinus:hover
{
  cursor: pointer;
  background-color: #360581;
}

.brd {
  border: double 10px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #1890FF ,#FC71EE );
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-width: 2px;

}
  .title-head{

  }
